@{
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://js.stripe.com/v3/"></script>
    <title>Document</title>
</head>
<body>
    <h1>SOMETHING IN THE FUCKING WAY</h1>

  <div id="checkout">
    <!-- Checkout will insert the payment form here -->
  </div>
</body>

<script>

// Initialize Stripe.js
const stripe = Stripe('pk_test_51Pq3nD09TbzP0h4iN9dmAAQAfX4xiHnsaRJaU7bNYBddsgsd8hMs8W1jfEI9bhzDFxRpkdiPJDHgB1cTF2VudDTm003OuQ4SQ4');

initialize();

// foo();

// async function foo() {
//     fetch("/create-checkout-session", {
//         method: 'POST'
//     })
//     .then(response => {
//         if (!response.ok) {
//             throw new Error('Network response was not ok');
//         }
//         return response.text();
//     })
//     .then(text => {
//         console.log(text);
//     })
//     .catch(error => {
//         console.error('There was a problem with the fetch operation:', error);
//     });
// }
// Fetch Checkout Session and retrieve the client secret
async function initialize() {
  const fetchClientSecret = async () => {
    const response = await fetch("/create-checkout-session", {
      method: "POST",
    });
    const { clientSecret } = await response.json();
    return clientSecret;
  };

  // Initialize Checkout
  const checkout = await stripe.initEmbeddedCheckout({
    fetchClientSecret,
  });

  // Mount Checkout
  checkout.mount('#checkout');
}

</Script>
</html>





