@{
    Layout = "~/Views/Shared/_AdministratorLayout.cshtml";
}


<div class="container">
    <form class="p-4 mt-5 m-auto border rounded-4 bg-light"
          style="max-width: 500px"
          method="post">

        <div class="mb-3">
            <label for="KeywordNameEn" class="form-label">Keyword Name (English)</label>
            <input type="text" class="form-control" id="KeywordNameEn" name="KeywordNameEn" value="@(ViewBag.KeywordNameEn == null ? "" : ViewBag.KeywordNameEn)" />
        </div>

        <div class="mb-3">
            <label for="KeywordNameEs" class="form-label">Keyword Name (Spanish)</label>
            <input type="text" class="form-control" id="KeywordNameEs" name="KeywordNameEs" value="@(ViewBag.KeywordNameEs == null ? "" : ViewBag.KeywordNameEs)" />
        </div>

        @if (ViewBag.KeywordId != null)
        {
            <input name="KeywordId" value="@(ViewBag.KeywordId)" hidden />
        }

        <button type="submit" class="btn btn-primary">@(ViewBag.KeywordId == null ? "Create" : "Update")</button>
    </form>
</div>
