
@{
    Layout = "~/Views/Shared/_AdministratorLayout.cshtml";
}
@model IEnumerable<TagResponseDto>;

<div class="container">
    <table class="table" style="z-index: 1;">
        <thead class="table-light sticky-top">
            <tr>
                <th scope="col">TagEn</th>
                <th scope="col">TagEs</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (TagResponseDto tag in Model)
            {
                <tr>
                    <td>@(tag.TagNameEn)</td>
                    <td>@(tag.TagNameEs)</td>
                    <td>
                        <a href="/create-tag?TagId=@(tag.TagId)&TagNameEn=@(Uri.EscapeDataString(tag.TagNameEn))&TagNameEs=@(Uri.EscapeDataString(tag.TagNameEs))" class="btn btn-primary">Edit</a>
                    </td>


                </tr>
            }
        </tbody>
    </table>
</div>

