


<div style="
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      ">
    <div style="
          padding: 20px;
          border: solid green 1px;
          border-radius: 10px;
          background-color: rgba(0, 196, 0, 0.493);
        ">
        <h2 style="color: white">Thank you for your donation, <br /> YOU ARE THE BEST!!!!</h2>
        <a class="btn btn-primary" href="/">Go Home</a>
    </div>
</div>