@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <div class="d-flex justify-content-center align-content-center p-5" >
        <h1 class="p-5 border border-5 bg-info-subtle" >Home Page</h1>
    </div>