@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="mt-5 row bg-secondary-subtle ">
        <h1>Profile</h1>
        <div class="col-6 pt-5">

        </div>
        <div class="col-6 pt-5">
            <a href="/password-change">Change Password</a>
        </div>

    </div>
</div>