<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@(ViewBag.Title)</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
</head>



<body >
    <div class="d-flex flex-column vh-100">
        <div>
            @if (ViewBag.SignedIn)
            {
                @await Html.PartialAsync("_SignedInNavigation_PartialView")
            }
            else
            {
                @await Html.PartialAsync("_UnsignedInNavigation_PartialView")
            }
        </div>

        <div>
            @RenderBody()
        </div>
        <footer class="border border-2 mt-auto bg-dark-subtle p-3">
            <div class="text-center">
                <p class="fw-bolder fs-5">BlogMaster°</p>
            </div>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/@(ViewBag.FontAwesomeKey).js" crossorigin="anonymous"></script>

</body>
</html>
