@model Dictionary<string, List<string>>;

@{
    Layout = "~/Views/Shared/_AdministratorLayout.cshtml";
}


<div class="container">
    <div>
        <form style="max-width: 500px"
              class="border p-5 m-5 rounded-4 bg-light m-auto mt-5"
              method="post"
              action="/create-account">
            <div class="mb-3">
                <label for="emailaddress" class="form-label fs-5">Email address</label>
                <input type="email"
                       class="form-control"
                       id="emailaddress"
                       aria-describedby="emailHelp"
                       name="EmailAddress" required/>
            </div>

            <div class="mb-3">
                <label for="UserName" class="form-label fs-5">User</label>
                <input type="text"
                       class="form-control"
                       id="UserName"
                       name="UserName" required />
            </div>

            <div class="mb-3">
                <label for="RoleName" class="form-label fs-5">Role</label>
                <select class="form-select"
                        name="RoleName"
                        id="RoleName"
                        aria-label="Default select example">
                    <option value="Editor">Editor</option>
                    <option value="Writter">Writter</option>
                    <option value="Administrator">Administrator</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary mb-3">Submit</button>
            @if (Model != null)
            {
                <ul class="mt-3">
                    @foreach (var error in Model)
                    {
                        foreach(string description in error.Value)
                        {
                            <li class="fs-6 text-danger">@(description)</li>
                            
                        }


                    }
                </ul>
            }
        </form>
    </div>
</div>