@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <form method="post" class="p-4 mt-5 bg-secondary-subtle rounded-3 mx-auto" style="max-width: 600px">
        <h3 class="mb-3">Password Reset</h3>
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input class="form-control" type="email" name="userEmail" />
        </div>    
        <div class="mb-3">
            <button class="btn btn-primary">Request Reset Email</button>
        </div>
    </form>
</div>