
<div style="
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      ">
    <div style="
          padding: 10px;
          border: solid green 1px;
          border-radius: 10px;
          background-color: rgba(0, 196, 0, 0.493);
        ">
        <h2 style="color: white">Your password has been reseted successfuly.</h2>
        <a href="/signin" style="margin-top: 10 px;">Sign in</a>
    </div>
</div>