@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<string>;

<div class="container">
    <form method="post" class="mx-auto mt-5 bg-secondary-subtle rounded-2 p-4 " style="max-width: 600px">
        <h3 class="mb-3">Change Password</h3>
        <div class="mb-3">
            <label for="password" class="form-label">Current Password</label>
            <input name="Password" type="password" id="password" class="form-control w-auto" aria-describedby="passwordHelpBlock">
        </div>
        <button type="submit" class="btn btn-primary mb-3">Request password change</button>

        @if(Model.Count > 0)
        {
            <ul>
                @foreach(string error in Model)
                {
                    <li><small class="text-danger">*@error</small></li>
                }
            </ul>
        }
    </form>
</div>
