@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div style="
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      ">
    <div style="
          padding: 10px;
          border: solid green 1px;
          border-radius: 10px;
          background-color: rgba(0, 196, 0, 0.493);
        ">
        <h2 style="color: white">Please check your email for a Reset password confirmation</h2>
    </div>
</div>
