@{
    var errors = ViewData.Model?.errors as List<string>;
    var userId = ViewData.Model?.UserId as string;
    var token = ViewData.Model?.Token as string;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@(ViewBag.Title)</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://js.stripe.com/v3/"></script>
</head>



<body>
    <div class="container">

        <form method="post" class="p-4 mt-5 mx-auto bg-secondary-subtle rounded-3" style="max-width: 600px">
            <h3 class="mb-3">Please enter your new password</h3>
            <div class="mb-3">
                <label for="newpassword" class="form-label"> New Password</label>
                <input name="NewPassword" type="password" id="newpassword" class="form-control w-auto" aria-describedby="passwordHelpBlock" required>

            </div>
            <div class="mb-3">
                <label for="confirmnewpassword" class="form-label">Confirm New Password</label>
                <input name="ConfirmNewPassword" type="password" id="confirmnewpassword" class="form-control w-auto" aria-describedby="passwordHelpBlock" required>
            </div>
            <input type="hidden" name="Token" value="@(token)" />
            <input type="hidden" name="UserId" value="@(userId)" />
            <button class="btn btn-primary mb-3">Change Password</button>
            @if (errors.Count > 0)
            {
                <ul>
                    @foreach (string error in errors)
                    {
                        <li><small class="text-danger">*@error</small></li>
                    }
                </ul>
            }
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/@(ViewBag.FontAwesomeKey).js" crossorigin="anonymous"></script>

</body>
</html>


